@model List<Cereal.Models.BasketItems>

<div class="cartondetails">
    @foreach (var item in Model)
    {
        <p>@item.Product.Name</p>
        <p>@item.Quantity</p>
        <p>@item.Product.Price</p>
    }
</div>
