@using Microsoft.AspNetCore.Identity
@using Cereal.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    <h4>Shopping Cart:</h4>
    @model IEnumerable<Cereal.Models.ViewModels.BasketViewModel>

    <div class="deck">
        @foreach (var item in Model)
        {
        <div class="card">
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <p>@Html.DisplayFor(modelItem => item.Price)</p>
            <p>@Html.DisplayFor(modelItem => item.Quantity)</p>

        </div>
        }
    </div>
}