body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/fruit_loops2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 75px;
}

.container {
    align-content: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #0BD5BE;
}

.navigation {
    padding: 5px;
}

.account_access {
    padding: 5px;
}

a {
    text-decoration: none;
    padding: 5px;
    color: black;
    display: inline-block;
}

a:hover {
    color: deeppink;
}

.products {
    text-align: center;
}

.cereal-img {
    max-width: 300px;
    max-height: 300px;
}


