body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    border-left: 10px solid #0BD5BE;
    border-right: 10px solid #0BD5BE;
    border-bottom: 10px solid #0BD5BE;
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    align-content: center;
    /*display: flex;*/
    justify-content: center;
    margin: 0;
    background-color: #0BD5BE;
}

.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.navigation {
    background-color: #333;
    overflow: hidden;
    padding: 5px;
    margin-left: 0px;
}

.account_access {
    padding: 5px;
    margin-right: 0px;
    float: right;
}

.account_access * {
    display: inline-block;
    padding-right: 10px;
}

.personal-greeting {
    display: inline-block;
    color: #f2f2f2;
}

a {
    text-decoration: none;
    padding: 5px;
    color: black;
    display: inline-block;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.products {
    text-align: center;
}

.cereal-img {
    max-width: 300px;
    max-height: 300px;
}
.header {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}

.subTitle {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logout-button {
    background: none !important;
    color: #f2f2f2;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #ddd;
    color: black;
}

.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.card {
    width: 250px;
    height: auto;
    margin: 2% auto;
    background-color: rgba(0,128,128, .7);
    border-radius: 10px;
    box-shadow: 5px 10px lightgrey;
}

.details-card {
    width: 500px;
    height: auto;
    margin: 2% auto;
    background-color: rgba(0,128,128, .7);
    border-radius: 10px;
    box-shadow: 5px 10px lightgrey;
}

.card:hover {
    transform: scale(1.05);
    background-color: rgba(0,128,128, .7);
}

table {
    width: 750px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: rgba(0,128,128, .7);
    border-radius: 10px;
    box-shadow: 5px 10px lightgrey;
}

td {
    padding: 5px;
}

.cereal-row {
    border-top: 1px solid black;
}
