@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<h3>Breakfast is the most important meal of the day. We sell cereal. As many varieties as your neighborhood grocer.</h3>
<div class="products">
    <img class="cereal-img" src="~/assets/capn_crunch.jpg" alt="capn_crunch" />
    <img class="cereal-img" src="~/assets/cheerios.jpg" alt="cheerios" />
    <img class="cereal-img" src="~/assets/cinnamon_toast_crunch.jpg" alt="cinnamon_toast_crunch" />
</div>