

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h3>Sample Products</h3>
<div class="products">
    <img src="~/assets/capn_crunch.jpg" alt="capn_crunch" />
    <img src="~/assets/cheerios.jpeg" alt="cheerios" />
    <img src="~/assets/cinnamon_toast_crunch.jpeg" alt="cinnamon_toast_crunch" />
</div>






