@using Microsoft.AspNetCore.Identity
@using Cereal.Models
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy" rel="stylesheet">
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="all_content">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="container">
                <div class="header">
                    <h1>Cereal</h1>
                    <nav class="navigation">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-controller="Product" asp-action="Index">Products</a>
                    </nav>
                    <div class="account_access">
                        <p>Hello, @User.Claims.First(name => name.Type == "FullName").Value</p>
                        <form asp-action="Logout" asp-controller="Account" method="post">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        }

        else
        {
            <div class="container">
                <div class="header">
                    <h1>Cereal</h1>
                    <nav class="navigation">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-controller="Product" asp-action="Index">Products</a>
                    </nav>
                    <div class="account_access">
                        <a asp-controller="AccountController" asp-action="Register">Register</a>
                        <a asp-controller="AccountController" asp-action="Login">Login</a>
                    </div>
                </div>
            </div>
        }
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
